<div id="biglietti">
    <div class="biglietti-container">

        <div id="tipo-biglietti">
            <div class="biglietti-header">
                <h1>Scegli i Posti</h1>
                <p class="subtitle">Seleziona i posti disponibili per una visione unica</p>
            </div>
            <p class="domanda">Quanti biglietti a prezzo intero?</p>
            <div class="input-number">
                <button class="add" (click)="changeBigliettoIntero(false)">-</button>
                <input type="number" name="" id="" class="numBiglietti" placeholder="Biglietti a prezzo intero..."
                    min="0" [max]="numFile * SEDIE_PER_FILA - bigliettiRidotti" [(ngModel)]="bigliettiInteri"
                    (ngModelChange)="onTicketChange()">
                <button class="add" (click)="changeBigliettoIntero(true)">+</button>
            </div>

            <p class="domanda">Quanti biglietti sono a prezzi riddoti?</p>
            <div class="input-number">
                <button class="add" (click)="changeBigliettoRidotto(false)">-</button>
                <input type="number" name="" id="" class="numBiglietti" placeholder="Biglietti a prezzo ridotto..."
                    min="0" [max]="numFile * SEDIE_PER_FILA - bigliettiInteri" [(ngModel)]="bigliettiRidotti"
                    (ngModelChange)="onTicketChange()">
                <button class="add" (click)="changeBigliettoRidotto(true)">+</button>
            </div>

            <div class="biglietti" *ngFor="let s of selectedSeats">
                Sedia: Fila {{ s.fila }} - Posto {{ s.posto }}
            </div>
            <div>Prezzo Totale: <strong>{{'€'+ prezzo}}</strong></div>
            <button class="confirm-button" [disabled]="
            bigliettiInteri + bigliettiRidotti > numFile * SEDIE_PER_FILA ||
            selectedSeats.length !== bigliettiInteri + bigliettiRidotti" (click)="confermaPrenotazione()">CONFERMA
                PRENOTAZIONE</button>

        </div>

        <div class="biglietti-content">
            <div class="screen-label">SCHERMO</div>
            <div class="seats-grid">
                <div *ngFor="let row of rows; let rowIndex = index" class="seat-row">
                    <div class="row-label"><b>{{ rowIndex + 1 }}</b></div>
                    <div class="seats-container">
                        <button (click)="selezionaSedia(rowIndex, seat)" *ngFor="let seat of row" class="seat"
                            [class.disabled]="isSeatOccupied(rowIndex, seat)"
                            [class.selected]="isSeatSelected(rowIndex, seat)" [attr.data-row]=" rowIndex + 1"
                            [attr.data-seat]="seat" [disabled]="isSeatOccupied(rowIndex, seat)">
                            {{ seat }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="seats-legend">
                <div class="legend-item">
                    <div class="legend-seat available"></div>
                    <span>Disponibile</span>
                </div>
                <div class="legend-item">
                    <div class="legend-seat selected"></div>
                    <span>Selezionato</span>
                </div>
                <div class="legend-item">
                    <div class="legend-seat occupied"></div>
                    <span>Occupato</span>
                </div>
            </div>
        </div>

    </div>
</div>