<div id="biglietti">
    <div class="biglietti-container">

        <div id="tipo-biglietti">
            <div class="biglietti-header">
                <h1>Scegli i Posti</h1>
                <p class="subtitle">Seleziona i posti disponibili per una visione unica</p>
            </div>

            <div class="scroll-area">
                <div class="biglietti" *ngFor="let s of selectedSeats">
                    <button type="button" (click)="removeSelectedSeat(s.fila, s.posto)">    
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    Sedia: Fila {{ s.fila }} - Posto {{ s.posto }}

                    <select [(ngModel)]="s.tipo" (change)="calculateCost()">
                        <option value="INTERO">Intero (€10)</option>
                        <option value="RIDOTTO">Ridotto (€7)</option>
                    </select>
                </div>
            </div>


            <div>Prezzo Totale: <strong>{{'€'+ prezzo}}</strong></div>
            <div *ngIf="selectedSeats.length === 0" class="info-text">
                Seleziona un posto per continuare
            </div>

            <button class="confirm-button" (click)="confermaPrenotazione()" [disabled]="isProcessing">
                {{ isProcessing ? 'Elaborazione...' : 'Acquista' }}
            </button>

        </div>

        <div class="biglietti-content">
            <div class="screen-label">SCHERMO</div>
            <div class="seats-grid">
                <div *ngFor="let row of rows; let rowIndex = index" class="seat-row">
                    <div class="row-label"><b>{{ rowIndex + 1 }}</b></div>
                    <div class="seats-container">
                        <button (click)="selezionaSedia(rowIndex, seat)" *ngFor="let seat of row" class="seat"
                            [class.disabled]="isSeatOccupied(rowIndex, seat)"
                            [class.selected]="isSeatSelected(rowIndex, seat)" [attr.data-row]=" rowIndex + 1"
                            [attr.data-seat]="seat" [disabled]="isSeatOccupied(rowIndex, seat)">
                            {{ seat }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="seats-legend">
                <div class="legend-item">
                    <div class="legend-seat available"></div>
                    <span>Disponibile</span>
                </div>
                <div class="legend-item">
                    <div class="legend-seat selected"></div>
                    <span>Selezionato</span>
                </div>
                <div class="legend-item">
                    <div class="legend-seat occupied"></div>
                    <span>Occupato</span>
                </div>
            </div>
        </div>
        <div class="modal-overlay" *ngIf="showSuccessModal">
            <div class="modal-box">
                <i class="fa-solid fa-circle-check success-icon"></i>
                <h2>Prenotazione completata!</h2>
                <button (click)="showSuccessModal = false">
                    Chiudi
                </button>
            </div>
        </div>

    </div>
</div>