<main>
    <h2>Film consigliati</h2>
    <section class="image-container">
        <div class="card">
            <div class="image">
                <img src="https://media.printler.com/media/photo/178903.jpg?rmode=crop&width=638&height=900" alt="">
            </div>
            <div class="details">
                <h3>Oppenheimer</h3>
                <h4>2024</h4>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://media.printler.com/media/photo/178903.jpg?rmode=crop&width=638&height=900" alt="">
            </div>
            <div class="details">
                <h3>Oppenheimer</h3>
                <h4>2024</h4>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://media.printler.com/media/photo/178903.jpg?rmode=crop&width=638&height=900" alt="">
            </div>
            <div class="details">
                <h3>Oppenheimer</h3>
                <h4>2024</h4>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://media.printler.com/media/photo/178903.jpg?rmode=crop&width=638&height=900" alt="">
            </div>
            <div class="details">
                <h3>Oppenheimer</h3>
                <h4>2024</h4>
            </div>

        </div>
        <div class="card">
            <div class="image">
                <img src="https://media.printler.com/media/photo/178903.jpg?rmode=crop&width=638&height=900" alt="">
            </div>
            <div class="details">
                <h3>Oppenheimer</h3>
                <h4>2024</h4>
            </div>

        </div>
    </section>
</main>