<header>
    <a routerLink="/" class="contenitore-logo">
        <div id="titolo">
            <img src="/img/Logo.png" alt="Logo" class="logo" />
            <h2>NG Movies</h2>
        </div>
    </a>

    <div class="Link">
        <a routerLink="/" class="icon-link" title="Home">
            <i class="fa-solid fa-house"></i>
            <span class="link-text">Home</span>
        </a>
        <a routerLink="/filmList" class="icon-link" title="Film">
            <img src="/img/Icona-Film.png" alt="Film" class="icon" />
            <span class="link-text">Film</span>
        </a>
        <a routerLink="/calendario" class="icon-link" title="Calendario">
            <i class="fa-solid fa-calendar-days"></i>
            <span class="link-text">Calendario</span>
        </a>
        <a routerLink="/chisiamo" class="icon-link" title="Chi Siamo">
            <i class="fa-solid fa-user"></i>
            <span class="link-text">Chi Siamo</span>
        </a>
    </div>
</header>