<header>
    <a routerLink="/" class="contenitore-logo">

        <div id="titolo">
            <img src="/img/Logo.png" alt="Logo" class="logo" />
            <h1>NG Movies</h1>
        </div>
    </a>
    <div class="Link">
        <a href="" class="icon-link" title="Acquista">
            <img src="/img/Icona-Carrello.png" alt="Acquista" class="icon" />
            <span class="link-text">Acquista</span>
        </a>
        <a routerLink="/film" class="icon-link" title="Film">
            <img src="/img/Icona-Film.png" alt="Film" class="icon" />
            <span class="link-text">Film</span>
        </a>
        <a routerLink="/calendario" class="icon-link" title="Calendario">
            <img src="/img/Icona-Calendario.png" alt="Calendario" class="icon" />
            <span class="link-text">Calendario</span>
        </a>
        <a routerLink="/chisiamo" class="icon-link" title="Chi Siamo">
            <img src="/img/Icona-User.png" alt="User" class="icon" />
            <span class="link-text">Chi Siamo</span>
        </a>
    </div>
</header>