<header>
    <div class="contenitore-logo">
    <img src="/img/Logo.png" alt="Logo" class="logo" />

    <h1>NG Movies</h1>
</div>
    <div class="Link">
        <a href="" class="icon-link" title="Acquista">
            <img src="/img/Icona-Carrello.png" alt="Acquista" class="icon" />
            <span class="link-text">Acquista</span>
        </a>
        <a href="" class="icon-link" title="Film">
            <img src="/img/Icona-Film.png" alt="Film" class="icon" />
            <span class="link-text">Film</span>
        </a>
        <a href="" class="icon-link" title="Calendario">
            <img src="/img/Icona-Calendario.png" alt="Calendario" class="icon" />
            <span class="link-text">Calendario</span>
        </a>
        <a href="" class="icon-link" title="Generi">
            <img src="/img/Icona-Generi.png" alt="Generi" class="icon" />
            <span class="link-text">Generi</span>
        </a>
    </div>
</header>