h1 {
  color: var(--font);
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  background-color: var(--mid);
}

.logo {
  height: 55px;
  width: auto;
  margin-right: 30px;
  border-radius: 50%;
}

.Link {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 30px;
  background: var(--font);
  backdrop-filter: blur(10px);
  padding: 8px 12px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Link a {
  position: relative;
  color: var(--font);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 10px 16px;
  border: 2px solid var(--font);
  border-radius: 20px;
  background-color: #efcf93;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  white-space: nowrap;
  overflow: hidden;
}

.Link a:hover {
  min-width: 140px;
  border-color: #A97650;
  background-color: #dab776;
  transform: scale(1.05);
  box-shadow: 0 4px 12px #dbbf8b;
}

.Link a:hover::after {
  width: 100%;
}