<div class="calendario">
    <div class="calendario-header">
        <h1 data-aos="fade" data-aos-delay="250">I Nostri Film</h1>
        <p data-aos="fade" data-aos-delay="450">Scopri gli ultimi film in uscita</p>
    </div>

    <div class="films-container">
        <div [routerLink]="'/film/' + film.id" *ngFor="let film of films; let i = index" class="film-item"
            [style.backgroundImage]="'url(' + film.copertina + ')'" data-aos="fade-up"
            [attr.data-aos-delay]="i * 150">
            <div class="film-item-overlay" ></div>

            <div class="film-poster" data-aos="zoom-in-left" data-aos-delay="250">
                <img [src]="film.copertina" [alt]="film.titolo">
            </div>
            <div class="film-content" data-aos="fade-up"
            [attr.data-aos-delay]="i * 150">
                <div class="distributor" data-aos="fade" data-aos-delay="250">Film</div>
                <h2 class="film-title" data-aos="fade" data-aos-delay="450">{{ film.titolo }}</h2>
                <div class="film-meta">
                    <div class="meta-item">
                        <span class="label">Durata:</span>
                        <span class="value"><b>{{ formatDuration(film.durata) }}</b></span>
                    </div>
                    <div class="meta-item">
                        <span class="label">Anno:</span>
                        <span class="value"><b>{{ film.anno }}</b></span>
                    </div>
                    <div class="meta-item">
                        <span class="label">Regista:</span>
                        <span class="value"><b>{{ film.regista }}</b></span>
                    </div>
                </div>
                <div class="film-watermark">
                    <p>NG Movies</p>
                </div>
            </div>
        </div>
    </div>
</div>