<main [style.backgroundImage]="'url(' + filmDetails?.copertina + ')'">
    <section>
        <div class="Copertina">
            <img [src]="filmDetails?.copertina" alt="copertina film">
        </div>
        <article>
            <h1>{{filmDetails?.titolo}}</h1>
            <p>
                Regista<b>{{filmDetails?.regista}}</b> | Durata<b>{{ filmDetails?.durata ?
                    formatDuration(filmDetails?.durata!) : '' }}</b> |
                Anno<b>{{filmDetails?.anno}}</b>
            </p>
            <p>{{filmDetails?.trama}}</p>

        </article>

    </section>
    <div class="spettacoli-container">
        <a *ngFor="let spettacolo of filmDetails?.spettacoli" [routerLink]="['/acquista', spettacolo.id]"
            class="spettacolo-card">

            <div class="icon-box">
                <i class="fa-solid fa-ticket"></i>
            </div>

            <div class="time-box">
                <div class="time-range">
                    {{ formatTime(spettacolo.orario) }}
                    <span class="arrow">→</span>
                    {{ getEndTime(spettacolo.orario, filmDetails?.durata || 0) }}
                </div>
                <div class="date">
                    {{ spettacolo.data }}
                </div>
            </div>
        </a>
    </div>
</main>