<main [style.backgroundImage]="'url(' + filmDetails?.copertina + ')'">
    <section>
        <div class="Copertina">
            <img [src]="filmDetails?.copertina" alt="copertina film">
        </div>
        <article>
            <h1>{{filmDetails?.titolo}}</h1>
            <p>
                Regista<b>{{filmDetails?.regista}}</b> | Durata<b>{{ filmDetails?.durata ?
                    formatDuration(filmDetails?.durata!) : '' }}</b> |
                Anno<b>{{filmDetails?.anno}}</b>
            </p>
            <p>{{filmDetails?.trama}}</p>
            



        </article>

    </section>
    <div id="biglietti" *ngIf="filmDetails?.spettacoli?.length">

        <div class="header-with-line">
            <h2><b>Spettacoli disponibili</b></h2>
            <hr>
        </div>

        <div class="spettacoli-container">
            <a [routerLink]="['/acquista', spettacolo.id]" class="spettacolo-card"
                *ngFor="let spettacolo of filmDetails?.spettacoli">
                <div class="spettacolo-info">
                    <div class="info-item">
                        <span class="info-label"><b>Data</b></span>
                        <span class="info-value">{{ spettacolo.data }}</span>
                    </div>
                    <div class="info-divider"></div>
                    <div class="info-item">
                        <span class="info-label"><b>Orario</b></span>
                        <span class="info-value">{{ spettacolo.orario }}</span>
                    </div>
                </div>
            </a>

        </div>
    </div>
</main>