<footer>
    <div class="footer-red-section">
        <div class="marketing-title">Marketing e Comunicazione</div>
        <div class="footer-content">
            <div class="footer-info-block">
                <span class="label">Anno di creazione</span>
                <div class="value">2026</div>
            </div>
            <div class="footer-info-block">
                <span class="label">Luogo</span>
                <div class="value">Rimini, Italia</div>
            </div>
        </div>
    </div>

    <div class="footer-dark-section">
        <div class="footer-grid">
            <div class="footer-column">
                <h4>Contattaci</h4>
                <p>ngmovies@gmail.com</p>
                <p>vortexcinema@gmail.com</p>
            </div>
            <div class="footer-column">
                <h4>Seguici</h4>
                <p>Instangram</p>
                <p>Facebook</p>
                <p>LinkedIn</p>
            </div>
            <div class="footer-column">
                <h4>I nostri servizi</h4>
                <p>Via Emilia, 1609, Santarcangelo di Romagna RN</p>
            </div>
            <div class="footer-column">
                <h4>Partecipazioni</h4>
                <p>Vortex Cinema</p>
                <p>Maggioli Academy</p>
            </div>
        </div>
    </div>
</footer>